[Unit]
Description=Master Status and Control REST API Service
Wants=network-online.target
After=multi-user.target network.target network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/python RPICLUSTER_ROOTDIR/services/master/service_master_api.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
